<div style="background-color: var(--tf-projects-bg-color)" class="bg-gradient py-3" id="career-changelog">
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-6">
        <h1 class="display-4 text-start">Career Changelog</h1>
      </div>
    </div>


    <div class="changelog">
      <p>All notable changes to this project (my career) will be documented in this section.</p>
      <p>The format is based on <a href="https://keepachangelog.com/en/1.1.0/" target="_blank">Keep a Changelog</a> and this project
        adheres to <a href="https://semver.org/spec/v2.0.0.html" target="_blank">Semantic Versioning</a>.</p>
      <h2 id="changelog-unreleased">Unreleased</h2>
      <h3 id="added">Added</h3>
      <ul>
        <li>Plans to expand expertise into new technologies and domains</li>
        <li>Desire to transition to crypto/blockain/fintech</li>
      </ul>
      <h2 id="changelog-240">2.4.0 - Senior Staff Developer @ Flexport (2023-06 to 2024-10)</h2>
      <h3 id="added-1">Added</h3>
      <ul>
        <li>Knowledge in the global logistics and supply chain industry, focusing on omni-channel fulfillment.</li>
      </ul>
      <h2 id="changelog-230">2.3.0 - Senior Staff Developer @ Shopify Logistics (2022-07 to 2023-06)</h2>
      <h3 id="added-2">Added</h3>
      <ul>
        <li>Knowledge in the logistics industry, working across fulfillment, and supply chain integrations.</li>
      </ul>
      <h2 id="changelog-220">2.2.0 - Senior Developer @ Deliverr (2021-12 to 2022-07)</h2>
      <h3 id="added-3">Added</h3>
      <ul>
        <li>Use of <a href="https://en.wikipedia.org/wiki/Change_data_capture" target="_blank">change data capture (CDC)</a> technologies.</li>
        <li>Implementation of the <a href="https://microservices.io/patterns/data/transactional-outbox.html" target="_blank">transactional outbox pattern</a>.</li>
        <li>Knowledge in the fulfillment and warehousing industry.</li>
      </ul>
      <h2 id="changelog-210">2.1.0 - Tech Lead @ SSENSE (2019-10 to 2021-12)</h2>
      <h3 id="added-4">Added</h3>
      <ul>
        <li>Use of <a href="https://en.wikipedia.org/wiki/Domain-driven_design" target="_blank">Domain-Driven Design (<a href="https://www.linkedin.com/feed/hashtag/?keywords=ddd" target="_blank">#ddd</a>); shout-out to <a href="https://www.linkedin.com/in/mbneto/" target="_blank">Mário Bittencourt</a>.</li>
        <li>Use of <a href="https://en.wikipedia.org/wiki/Event-driven_architecture" target="_blank">Event-Driven Architecture (eda)</a>.</li>
        <li>Use of <a href="https://medium.com/ssense-tech/hexagonal-architecture-there-are-always-two-sides-to-every-story-bc0780ed7d9c" target="_blank">hexagonal architecture</a>; shout-out to <a href="https://www.linkedin.com/in/pablomtz/" target="_blank">Pablo Martinez</a>.</li>
        <li>Use of <a href="https://en.wikipedia.org/wiki/Event_storming" target="_blank">event storming</a>.</li>
        <li>Use of <a href="https://www.serverless.com/" target="_blank">serverless framework</a>.</li>
        <li>Use of <a href="https://aws.amazon.com/pm/dynamodb" target="_blank">DynamoDB</a>.</li>
        <li>Use of <a href="https://www.bpmn.org/" target="_blank">BPMN (Business Process Model and Notation)</a>.</li>
        <li>Use of <code>TypeScript</code> and <code>Node.js</code>; shout-out to <a href="https://www.linkedin.com/in/yannickcordinier/" target="_blank">Yannick Cordinier</a>.</li>
        <li>Knowledge in the luxury e-commerce industry.</li>
      </ul>
      <h2 id="changelog-200">2.0.0 - Senior Developer @ Zola (2019-01 to 2019-10)</h2>
      <h3 id="added-5">Added</h3>
      <ul>
        <li>Use of <a href="https://aws.amazon.com/" target="_blank">Amazon Web Services (AWS)</a>.</li>
        <li>Use of <a href="https://en.wikipedia.org/wiki/Microservices" target="_blank">microservices</a>.</li>
        <li>Knowledge in the wedding and event planning industry.</li>
        <li>Knowledge in the e-commerce industry.</li>
      </ul>
      <h3 id="changed-5">Changed</h3>
      <ul>
        <li>The type of companies I worked for; shout-out to <a href="https://www.linkedin.com/in/yavery/" target="_blank">Yan Avery</a> for providing me the opportunity to join <i>startup world</i>.</li>
      </ul>
      <h2 id="changelog-120">1.2.0 - Architect @ AFS Technologies (2011-11 to 2018-12)</h2>
      <h3 id="added-6">Added</h3>
      <ul>
        <li>Skills to develop <a href="https://en.wikipedia.org/wiki/Software_as_a_service" target="_blank">SaaS solutions</a>.</li>
        <li>Use of <code>Java</code> and <code>Spring framework</code>.</li>
        <li>Use of <a href="https://en.wikipedia.org/wiki/Scrum_(software_development)" target="_blank">Scrum</a>.</li>
        <li>Use of <a href="https://en.wikipedia.org/wiki/Continuous_integration" target="_blank">Continuous Integration (CI)</a> pipelines.</li>
        <li>Use of <a href="https://en.wikipedia.org/wiki/Extract,_transform,_load" target="_blank">ETL (Extract, Transform, Load)</a> processes.</li>        
        <li>Knowledge in the <a href="https://en.wikipedia.org/wiki/Fast-moving_consumer_goods" target="_blank">consumer packaged goods (CPG)</a> industry.</li>
      </ul>
      <h2 id="changelog-110">1.1.0 - Senior Developer @ Vidéotron (2006-07 to 2011-10)</h2>
      <h3 id="added-7">Added</h3>
      <ul>
        <li>Knowledge in the telecommunications sector (specializing on the <a href="https://www.techtarget.com/searchnetworking/definition/network-management-system" target="_blank">network management system</a>).</li>
      </ul>
      <h2 id="changelog-100">1.0.0 - Senior Developer @ Markzware Software (2001-03 to 2006-06)</h2>
      <h3 id="added-8">Added</h3>
      <ul>
        <li>Knowledge in the digital publishing, prepress and printing industry.</li>
      </ul>
      <h2 id="changelog-010">0.1.0 - The Beginning (2001)</h2>
      <h3 id="added-9">Added</h3>
      <ul>
        <li>The beginning of my journey into professional software development with a passion for problem-solving and technology.</li>
      </ul>
    </div>
  </div>
</div>
