<div style="background-color: var(--tf-projects-bg-color)" class="bg-gradient py-3" id="career-changelog">
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-6">
        <h1 class="display-4 text-start">Career Changelog</h1>
      </div>
    </div>


    <div class="changelog">
    <p>All notable changes to this project (my career) will be documented in this section.</p>
    <p>The format is based on <a href="https://keepachangelog.com/en/1.1.0/">Keep a Changelog</a> and this project adheres to <a href="https://semver.org/spec/v2.0.0.html">Semantic Versioning</a>.</p>
    <h2 id="changelog-unreleased">Unreleased</h2>
    <h3 id="added">Added </h3>
    <ul>
    <li>Plans to expand expertise into new technologies and domains</li>
    <li>Desire to transition to crypto/blockain/fintech</li>
    </ul>
    <h2 id="changelog-240">2.4.0 - Flexport (2023-06 to 2024-10)</h2>
    <h3 id="added-1">Added </h3>
    <ul>
    <li>Skills related to global logistics and supply chain technology, focusing on omni-channel fulfillment.</li>
    </ul>
    <h2 id="changelog-230">2.3.0 - Shopify Logistics (2022-07 to 2023-06)</h2>
    <h3 id="added-2">Added </h3>
    <ul>
    <li>Skills related to logistics industry, working across fulfillment, and supply chain integrations.</li>
    </ul>
    <h2 id="changelog-220">2.2.0 - Deliverr (2021-12 to 2022-07)</h2>
    <h3 id="added-3">Added </h3>
    <ul>
    <li>Skills related to the fulfillment and warehousing sector, supporting scalable and event-driven architectures for high-volume e-commerce operations.</li>
    </ul>
    <h2 id="changelog-210">2.1.0 - SSENSE (2020-08 to 2021-12)</h2>
    <h3 id="added-4">Added </h3>
    <ul>
    <li>Skills related to the luxury e-commerce, enabling reliable order and inventory management systems through event-driven design.</li>
    </ul>
    <h2 id="changelog-200">2.0.0 - Zola (2019-01 to 2019-10)</h2>
    <h3 id="added-5">Added </h3>
    <ul>
    <li>Skills related to the wedding and event planning industry by building scalable and user-friendly e-commerce platforms.</li>
    </ul>
    <h3 id="changed-5">Changed </h3>
    <ul>
    <li>The type of companies I worked for: this is my intro into <i>startup world</i>.</li>
    </ul>
    <h2 id="changelog-120">1.2.0 - AFS Technologies (2011-11 to 2018-12)</h2>
    <h3 id="added-6">Added </h3>
    <ul>
    <li>Skills to develop SaaS solutions</li>
    <li>Skills related to the food and beverage industry, emphasizing API standardization and long-term platform evolution.</li>
    </ul>
    <h2 id="changelog-110">1.1.0 - Vidéotron (2006-07 to 2011-10)</h2>
    <h3 id="added-7">Added </h3>
    <ul>
    <li>Skills related to the telecommunications sector, streamlining internal and external system integrations.</li>
    </ul>
    <h2 id="changelog-100">1.0.0 - Markzware Software (2001-03 to 2006-06)</h2>
    <h3 id="added-8">Added </h3>
    <ul>
    <li>Skills related to digital publishing and prepress software solutions for the printing industry.</li>
    </ul>
    <h2 id="changelog-010">0.1.0 - The Beginning (2001)</h2>
    <h3 id="added-9">Added </h3>
    <ul>
    <li>The beginning of my journey into professional software development with a passion for problem-solving and technology.</li>
    </ul>
<!--
    <h3 id="changed-1">Changed </h3>
    <ul>
    <li>Upgrade dependencies: Ruby 3.2.1, Middleman, etc.</li>
    </ul>
    <h3 id="removed-1">Removed </h3>
    <ul>
    <li>Unused normalize.css file.</li>
    <li>Identical links assigned in each translation file.</li>
    <li>Duplicate index file for the english version.</li>
    </ul>
  -->
  </div>
</div>
</div>