<p>Credit for the repo I forked: 
  <a href="https://www.linkedin.com/in/gregory-mccubbin-48735b37/" target="_blank">
    <svg class="tf-social">
      <use xlink:href="/img/bootstrap-icons.svg#linkedin"/>
    </svg>
  </a>
  <a href="https://www.youtube.com/@DappUniversity" target="_blank">
    <svg class="tf-social">
      <use xlink:href="/img/bootstrap-icons.svg#youtube"/>
    </svg>
  </a>
  <a href="https://www.instagram.com/dappuniversity/" target="_blank">
    <svg class="tf-social">
      <use xlink:href="/img/bootstrap-icons.svg#instagram"/>
    </svg>
  </a>
</p>
